@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  margin-bottom: 2rem;
}

.title {
  margin: 1rem auto;
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.half {
  flex: 45%;
}

@media (max-width: 800px) {
  .half {
    flex: 90%;
  }
}

.inline {
  display: inline;
}

.inline-flex-container {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

input[type="button"] {
  background-color: #0075ff;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#json_file_input {
  width: 20rem;
}

#js_map {
  height: 450px;
  width: 100%;
}

.file-input {
  justify-content: space-between;
}

.path-radio-input {
  width: 100%;
  gap: 0.4rem;
}

.path-radio-input label {
  margin-right: 0.5rem;
}

/* Date Input & Slider */
.field {
  display: flex;
  height: 35px;
  align-items: center;
  gap: 1rem;
}

.field input {
  height: 100%;
  outline: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.date-range-input {
  position: relative;
}

.date-range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -1.25rem;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.date-slider {
  margin-bottom: 1rem;
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.date-slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #0075ff;
}

.date-range-input input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #0075ff;
  pointer-events: auto;
  cursor: grab;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.date-range-input input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #0075ff;
  pointer-events: auto;
  cursor: grab;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Animation */
.animation-slider {
  align-items: center;
  width: 100%;
}

.animation-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0075ff;
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
}

.refresh {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 24px;
  font-weight: 800;
  color: #0075ff;
  cursor: pointer;
}

.animation-slider .button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 17px;
  border-color: transparent transparent transparent #0075ff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 8.5px 0 8.5px 17px;
}

.animation-slider .button.playing {
  border-style: double;
  border-width: 0px 0 0px 17px;
}

.animation-slider .button:hover {
  border-color: transparent transparent transparent #0075ff;
}

.animation-slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
  flex-grow: 8;
  height: 5px;
  background: #ddd;
  outline: none;
}

.animation-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  background: #0075ff;
  border-radius: 50%;
  cursor: pointer;
}

.animation-slider input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  background: #0075ff;
  border-radius: 50%;
  cursor: pointer;
}

.playback-speed-input input {
  width: 7rem;
}
